name: Django CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "placementapp/**"
      - "placementprediction/**"
      - "manage.py"
      - "requirements.txt"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Django checks
      run: |
        python manage.py check
